.App {
  text-align: center;
}

img {
  width: 250px;
  height: auto;
}

.list-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 8px;
  border: 2px solid navy;
}
